.comic-wrapper, .comic-wrapper {
    background-color: #ebebeb;
    border: 1px solid transparent;
    border-radius: 5px;

    span, h1{
        color: crimson;
    }

}

.table-wrapper {

    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ebebeb;

    h1 {
        color: crimson;
    }
}

td a {
    color: #212529;

    &:hover{
        color: crimson;
    }
}

.card-title h1 {
    color: crimson;
}

.fa-trash-alt {
    border: none;

    &:hover{
        color: crimson;
    }
}